**1.1 Import the required libraries**

In [2]:
import numpy as np
import pandas as pd

**1.2 Mount the google drive**

In [3]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

**1.3 Reading the datasets**

In [6]:
dataset_triplets = pd.read_csv('/content/gdrive/MyDrive/kaggle/kaggle_visible_evaluation_triplets.txt',
                               sep = '\t', names = ['user_id','song_id','frequency'])

**1.4 Displaying the dataset**

In [7]:
dataset_triplets.head()

                                    user_id             song_id  frequency
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0          1
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3          1
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6          1
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0          1
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11          1

**1.5 Information of dataset**

In [8]:
dataset_triplets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450933 entries, 0 to 1450932
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1450933 non-null  object
 1   song_id    1450933 non-null  object
 2   frequency  1450933 non-null  int64
dtypes: int64(1), object(2)
memory usage: 33.2+ MB

**Observation:** We can find that there are more that 14lacks rows in the dataset

**1.6 Reading the dataset2**

In [9]:
dataset_unique = pd.read_csv('/content/gdrive/MyDrive/kaggle/unique_tracks.txt',
                               sep = '<SEP>', names = ['track_id','song_id','artist_name','release'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

**1.7 Displaying the dataset**

In [10]:
dataset_unique.head()

             track_id             song_id       artist_name            release
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

**1.8 Infomation of the dataset**

In [11]:
dataset_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   track_id     1000000 non-null  object
 1   song_id      1000000 non-null  object
 2   artist_name  1000000 non-null  object
 3   release      999985 non-null   object
dtypes: object(4)
memory usage: 30.5+ MB

**1.9 Merging the datasets**

In [16]:
dataset_new = dataset_triplets.merge(dataset_unique,on="song_id")

dataset_new.head()

                                    user_id  ...         release
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...  You're The One
1  c34670d9c1718361feb93068a853cead3c95b76a  ...  You're The One
2  c5006d9f41f68ccccbf5ee29212b6af494110c5e  ...  You're The One
3  e4332e11f4df6dd26673bb6b085e9a2bbdc9b8a5  ...  You're The One
4  baf2fe5885ab93fbbdb7fecc6691788e70afb6c8  ...  You're The One

[5 rows x 6 columns]

**Observation**: We have merged the datasets based on the song_id column

**2.0 Information of new dataset**

In [13]:
dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1491952 entries, 0 to 1491951
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   user_id      1491952 non-null  object
 1   song_id      1491952 non-null  object
 2   frequency    1491952 non-null  int64
 3   track_id     1491952 non-null  object
 4   artist_name  1491952 non-null  object
 5   release      1491951 non-null  object
dtypes: int64(1), object(5)
memory usage: 79.7+ MB



**2.1 Slicing the dataset**

In [17]:
dataset_new = dataset_new[:100000]
dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      100000 non-null  object
 1   song_id      100000 non-null  object
 2   frequency    100000 non-null  int64
 3   track_id     100000 non-null  object
 4   artist_name  100000 non-null  object
 5   release      100000 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.3+ MB

**Note:** As the colab is crashing when more data is feeded. So I have took the first 1 lack rows for further processing

**2.2 Pivot table**

In [26]:
data_table = pd.pivot_table(dataset_new,values='frequency',columns='song_id',index='user_id')
data_table.head()

song_id                                   SOAAGFH12A8C13D072  ...  SOZZTNF12A8C139916
user_id                                                       ...
00020fcd8b01986a6a85b896ccde6c49f35142ad                 NaN  ...                 NaN
0003798d61a8010dbfd8010180b7107cbbb8a649                 NaN  ...                 NaN
0003d5245414b9c6244046543a06f601bfc97949                 NaN  ...                 NaN
00040e91f2f614ca2f94ebc558dd0fc53ea2b875                 NaN  ...                 NaN
0004dd6499e2e3f630f070416c437627de60d5c1                 NaN  ...                 NaN

[5 rows x 353 columns]

**2.3 User Engamenent**

In [29]:
song_id_search = input("Enter the song id: ")

Enter the song id: SOAAVUV12AB0186646

**Observation**: User will enter the specific song id to which the result would be matched

In [30]:

print(" Here are the list of songs that are matched to your search")
print(data_table.corr()[song_id_search].sort_values(ascending=False).iloc[:20])

 Here are the list of songs that are matched to your search
song_id
SOAAVUV12AB0186646    1.000000
SOKENKR12AB01828F7    1.000000
SODKKNZ12A8C13E383    1.000000
SOEBOWM12AB017F279    1.000000
SOSPSPH12AF72A72D9    1.000000
SOIIOUS12A8AE47E20    1.000000
SOIOESO12A6D4F621D    1.000000
SOXVVSM12A8C142224    0.999569
SOPPROJ12AB0184E18    0.996751
SOPXKYD12A6D4FA876    0.963523
SOWEJXA12A6701C574    0.949769
SOFLJQZ12A6D4FADA6    0.945258
SOGTDJQ12A8C13324F    0.916949
SOFRQTD12A81C233C0    0.912134
SOWCKVR12A8C142411    0.906766
SOUVTSM12AC468F6A7    0.874879
SOEHWGF12A6D4F8B2B    0.855779
SOPVQLJ12A67AE2281    0.826033
SONNSYV12A8C146BEC    0.762846
SOPQLBY12A6310E992    0.755608
Name: SOAAVUV12AB0186646, dtype: float64

**Thank you.**